

.content {
    width: 100%;
    background: ghostwhite;

    display: flex;
    justify-content: center;
}


.action-link {
    block-size: border-box;
    height: 600px;
    width: 100%;
    border: 2px black solid;
    border-radius: 8px;
    margin: 3rem 0 3rem 2rem;
}

.blockchain {
    background-image: url("../../../../public/blockchain.png");
    /*background-position: center;*/
}

.add-transactions {
    background-image: url("../../../../public/add_transactions.png");
    background-position: center left 15%;
}

